{% load widget_tweaks %}

{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<form 
    hx-post="{% url 'accounts:login' %}"
    hx-trigger="submit"
    hx-target="#login-form"
    hx-swap="outerHTML"
    id="login-form"
    novalidate
>
    {% csrf_token %}
    <div class="mb-3 text-start">
        <label class="form-label">Username</label>
        {% render_field form.username class="form-control" placeholder="Enter username" %}
    </div>
    <div class="mb-3 text-start">
        <label class="form-label">Password</label>
        {% render_field form.password class="form-control" placeholder="Enter password" %}
    </div>
    <button 
        type="submit" 
        class="btn btn-primary w-100 py-2"
    >
        Login
    </button>
</form>