{% load widget_tweaks %}
<form 
    hx-post="{% url 'subscriber:newsletter_subscribe' pk %}"
    hx-trigger="submit"

    id="newsletter-subscriber-form" 
    class="text-start"
    novalidate
>
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        {% render_field form.name class="form-control" placeholder="Enter your full name" %}
        {% if form.name.errors %}
            <samll class="text-danger mt-2">
                {{ form.name.errors|join:", " }}
            </samll>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        {% render_field form.email class="form-control" placeholder="Enter your email" %}
        {% if form.email.errors %}
            <samll class="text-danger mt-2">
                {{ form.email.errors|join:", " }}
            </samll>
        {% endif %}
    </div>

    <button 
        type="submit" 
        class="btn btn-primary w-100 py-2 d-flex justify-content-center align-items-center" 
    >
        <span id="btnText">
            Subscribe
        </span>
    </button>
</form>